<%- include('partials/head', { title: 'Sign Up' }) -%>

<h1 class="head">Sign Up Form</h1>
<div class="form">
    <form method="post" action="/register">
        <div class="form-field">
            <input type="email" name="username" placeholder="Email (e.g foo@bar.com)">
        </div>
        <div class="form-field">
            <input type="text" name="password" placeholder="Password">
        </div>
        <input type="submit" class="form-btn" value="Sign Up">
    </form>
</div>

<div class="link-box">
    <a href="/">Home</a>
    <a href="/login">Login</a>
</div>

<%- include('partials/foot') -%>