<%- include('partials/head', { title: 'Verify' }) -%>

<h1 class="head">Verifying your email</h1>
<div class="form">
    <form method="post" action="/verify">
        <div class="form-field">
            <input type="number" name="otp" placeholder="OTP">
        </div>
        <input type="submit" class="form-btn" value="Verify">
    </form>
</div>
<p class="center">Check your inbox an OTP is sent to your given email</p>  

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<%- include('partials/foot') -%>